In [1]:
import numpy as np
import pandas as pd
import nltk
from fuzzywuzzy import fuzz

/home/itm3f/.local/lib/python3.7/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
##Function that takes in 3 lists, the list of strings you want to compare, the list of strings you're comparing to and a list with the original way the string from list 1 was written.  
def matchWithFuzzyNames(l1, l2, original, row_num):
    match = pd.DataFrame(columns = ['original company names', 'clean company name', 'company matches', 'fuzz ratio'])
    for i in l1:
        matches = []
        score = []
        score_partial = []
        
        for j in l2:
            #due to time constraints, we set the fuzz.ratio to 100, however future programming should adjust this value to some other quantity to see if we get better matches
            if (fuzz.ratio(i,j)) == 100:
                matches.append(j)
                score.append(fuzz.ratio(i,j))
                #the partial ratio will return the ratio raw score of 100  if the shorter string is found an any of substrings of the larger string, used this as a safety net and potentially as an additional step to 
                score_partial.append((fuzz.partial_ratio(i,j)))
        match = match.append({ 'clean company name': i,'company matches': matches, 'fuzz ratio': score, 'fuzz partial ratio': score_partial},ignore_index=True)
        
    match['original company names'] = original
    match['original row number'] = row_num
 
#Will output a pandas dataframe with 4 columns
    return match

In [3]:
#read in clean dna data
dna = pd.read_csv("../data/working/dna_clean.csv", index_col = [0])

In [4]:
dna.columns

Index(['Unnamed: 0.1', 'Code', 'Description', 'cleaned_companies'], dtype='object')

In [5]:
dna_clean = dna.dropna()

In [6]:
dna_clean.head()

,Unnamed: 0.1,Code,Description,cleaned_companies
0,0,AA,AA PLC,aa
1,2,AAAADJ,"Emperial Americas, Inc.",emperial americas
2,3,AAAAIY,"American Academy of Allergy, Asthma and Immuno...",academy allergy asthma immunology
3,5,AAABBB,Bird Studies Canada,bird studies canada
4,6,AAACK,Aesculap AG & Co. KG,aesculap&co

In [7]:
dna_org = dna_clean['Description'].reset_index()

In [8]:
dna_row = dna_org['index']

In [9]:
dna_comp = dna_org['Description']

In [10]:
dna_list = dna_clean['cleaned_companies']

In [ ]:
matching = matchWithFuzzyNames(dna_list, dna_list, dna_comp, dna_row)
print(matching)

In [ ]:
matching

In [12]:
x = pd.read_csv("../data/working/ndc_dna_matching.csv", index_col = [0])

In [19]:
x.tail(10)

,clean NDC company,original NDC company,NDC row,corporate family,clean DNA row,clean DNA company,original DNA company,fuzz ratio
790,ww grainger,"W.W. GRAINGER, INC.",6698,ww grainger,[24739],['ww grainger'],"['W.W. Grainger, Inc.']",[100]
791,wyeth,Wyeth Pharmaceuticals Company,6903,wyeth,"[1808, 15691]","['wyeth', 'wyeth']","['Wyeth LLC', 'Wyeth Ltd.']","[100, 100]"
792,x labs,X3 Labs Inc.,6907,x labs,[63128],['x labs'],['X3 Labs Inc'],[100]
793,xiamen,"Xiamen LP Pharmaceutical Co., Ltd.",6918,xiamen,[62983],['xiamen'],['Xiamen International Bank Company Limited'],[100]
794,xl,2xl Corporation,14,xl,[63030],['xl'],['XL Group Ltd'],[100]
795,yes to,"Yes To Inc., Yes To Incorporated, Yes To, Inc.","6942, 6943, 6944",yes to,[63288],['yes to'],['Yes To Inc.'],[100]
796,young living essential oils,"Young Living Essential Oils, LC",6955,young living essential oils,[4496],['young living essential oils'],"['Young Living Essential Oils, LC']",[100]
797,zee,"Zee Medical, Zee Medical Inc","6976, 6977",zee,[63599],['zee'],['Zee Medical Inc'],[100]
798,zep,"Zep Inc., Zep, Inc","6983, 6984",zep,[63637],['zep'],['Zep Inc.'],[100]
799,zoom,ZOOM PRODUCTS LLC,7012,zoom,[63786],['zoom'],['Zoom Technologies Inc'],[100]

In [14]:
ndc = pd.read_csv("../data/working/ndc_clean.csv", index_col = [0])

In [20]:
ndc.iloc[6698]

original_company    W.W. GRAINGER, INC.
originalRow                        6723
cleaned_name                ww grainger
Name: 6698, dtype: object

In [18]:
ndc.iloc[6484]

original_company    Uline
originalRow          6509
cleaned_name        uline
Name: 6484, dtype: object