In [12]:
#!python -m deeppavlov install ner_ontonotes_bert

In [4]:
from deeppavlov import configs, build_model

In [5]:
ner_model = build_model(configs.ner.ner_ontonotes_bert, download=True)

2020-07-09 16:18:25.488 INFO in 'deeppavlov.download'['download'] at line 132: Skipped http://files.deeppavlov.ai/deeppavlov_data/ner_ontonotes_bert_v1.tar.gz download because of matching hashes
2020-07-09 16:18:27.52 INFO in 'deeppavlov.download'['download'] at line 132: Skipped http://files.deeppavlov.ai/deeppavlov_data/bert/cased_L-12_H-768_A-12.zip download because of matching hashes
[nltk_data] Downloading package punkt to /home/itm3f/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/itm3f/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package perluniprops to
[nltk_data]     /home/itm3f/nltk_data...
[nltk_data]   Package perluniprops is already up-to-date!
[nltk_data] Downloading package nonbreaking_prefixes to
[nltk_data]     /home/itm3f/nltk_data...
[nltk_data]   Package nonbreaking_prefixes is already up-to-date!

WARNING:tensorflow:From /home/itm3f/.conda/envs/BERT-NER/lib/python3.7/site-packages/bert_dp/tokenization.py:125: The name tf.gfile.GFile is deprecated. Please use tf.io.gfile.GFile instead.

2020-07-09 16:18:34.294 INFO in 'deeppavlov.core.data.simple_vocab'['simple_vocab'] at line 115: [loading vocabulary from /sfs/qumulo/qhome/itm3f/.deeppavlov/models/ner_ontonotes_bert/tag.dict]

WARNING:tensorflow:From /home/itm3f/.local/lib/python3.7/site-packages/deeppavlov/core/models/tf_model.py:37: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /home/itm3f/.local/lib/python3.7/site-packages/deeppavlov/core/models/tf_model.py:222: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/itm3f/.local/lib/python3.7/site-packages/deeppavlov/core/models/tf_model.py:222: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /home/itm3f/.local/lib/python3.7/site-packages/deeppavlov/core/models/tf_model.py:193: The name tf.train.AdamOptimizer is deprecated. Please use tf.compat.v1.train.AdamOptimizer instead.

WARNING:tensorflow:From /home/itm3f/.local/lib/python3.7/site-packages/deeppavlov/models/bert/bert_sequence_tagger.py:236: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /home/itm3f/.local/lib/python3.7/site-packages/deeppavlov/models/bert/bert_sequence_tagger.py:314: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /home/itm3f/.conda/envs/BERT-NER/lib/python3.7/site-packages/bert_dp/modeling.py:178: The name tf.variable_scope is deprecated. Please use tf.compat.v1.variable_scope instead.

WARNING:tensorflow:From /home/itm3f/.conda/envs/BERT-NER/lib/python3.7/site-packages/bert_dp/modeling.py:418: The name tf.get_variable is deprecated. Please use tf.compat.v1.get_variable instead.

WARNING:tensorflow:From /home/itm3f/.conda/envs/BERT-NER/lib/python3.7/site-packages/bert_dp/modeling.py:499: The name tf.assert_less_equal is deprecated. Please use tf.compat.v1.assert_less_equal instead.

WARNING:tensorflow:
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
  * https://github.com/tensorflow/io (for I/O related ops)
If you depend on functionality not listed there, please file an issue.

WARNING:tensorflow:From /home/itm3f/.conda/envs/BERT-NER/lib/python3.7/site-packages/bert_dp/modeling.py:366: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /home/itm3f/.conda/envs/BERT-NER/lib/python3.7/site-packages/bert_dp/modeling.py:680: dense (from tensorflow.python.layers.core) is deprecated and will be removed in a future version.
Instructions for updating:
Use keras.layers.Dense instead.
WARNING:tensorflow:From /home/itm3f/.conda/envs/BERT-NER/lib/python3.7/site-packages/tensorflow_core/python/layers/core.py:187: Layer.apply (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.__call__` method instead.
WARNING:tensorflow:From /home/itm3f/.conda/envs/BERT-NER/lib/python3.7/site-packages/bert_dp/modeling.py:283: The name tf.erf is deprecated. Please use tf.math.erf instead.

WARNING:tensorflow:Variable *= will be deprecated. Use `var.assign(var * other)` if you want assignment to the variable value or `x = x * y` if you want a new python Tensor object.
WARNING:tensorflow:From /home/itm3f/.local/lib/python3.7/site-packages/deeppavlov/models/bert/bert_sequence_tagger.py:75: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /home/itm3f/.conda/envs/BERT-NER/lib/python3.7/site-packages/tensorflow_core/contrib/crf/python/ops/crf.py:213: dynamic_rnn (from tensorflow.python.ops.rnn) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `keras.layers.RNN(cell)`, which is equivalent to this API
WARNING:tensorflow:From /home/itm3f/.local/lib/python3.7/site-packages/deeppavlov/core/models/tf_model.py:234: The name tf.train.AdadeltaOptimizer is deprecated. Please use tf.compat.v1.train.AdadeltaOptimizer instead.

WARNING:tensorflow:From /home/itm3f/.local/lib/python3.7/site-packages/deeppavlov/core/models/tf_model.py:131: The name tf.get_collection is deprecated. Please use tf.compat.v1.get_collection instead.

WARNING:tensorflow:From /home/itm3f/.local/lib/python3.7/site-packages/deeppavlov/core/models/tf_model.py:131: The name tf.GraphKeys is deprecated. Please use tf.compat.v1.GraphKeys instead.

WARNING:tensorflow:From /home/itm3f/.local/lib/python3.7/site-packages/deeppavlov/core/models/tf_model.py:94: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /home/itm3f/.conda/envs/BERT-NER/lib/python3.7/site-packages/tensorflow_core/python/training/moving_averages.py:433: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
WARNING:tensorflow:From /home/itm3f/.local/lib/python3.7/site-packages/deeppavlov/models/bert/bert_sequence_tagger.py:671: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /home/itm3f/.local/lib/python3.7/site-packages/deeppavlov/models/bert/bert_sequence_tagger.py:244: The name tf.global_variables_initializer is deprecated. Please use tf.compat.v1.global_variables_initializer instead.

WARNING:tensorflow:From /home/itm3f/.local/lib/python3.7/site-packages/deeppavlov/models/bert/bert_sequence_tagger.py:249: checkpoint_exists (from tensorflow.python.training.checkpoint_management) is deprecated and will be removed in a future version.
Instructions for updating:
Use standard file APIs to check for files with this prefix.

2020-07-09 16:18:57.101 INFO in 'deeppavlov.core.models.tf_model'['tf_model'] at line 51: [loading model from /sfs/qumulo/qhome/itm3f/.deeppavlov/models/ner_ontonotes_bert/model]

WARNING:tensorflow:From /home/itm3f/.local/lib/python3.7/site-packages/deeppavlov/core/models/tf_model.py:54: The name tf.train.Saver is deprecated. Please use tf.compat.v1.train.Saver instead.

INFO:tensorflow:Restoring parameters from /sfs/qumulo/qhome/itm3f/.deeppavlov/models/ner_ontonotes_bert/model

In [3]:
#O Object
ner_model(['Bob Ross lived in Miami'])

NameError: name 'ner_model' is not defined

In [1]:
import numpy as np
import pandas as pd
import json
import gzip

In [2]:
df = pd.read_json('../../data/original/DNA_DATA_FULL.gz', compression='gzip')

In [53]:
code_dict = pd.read_csv("../../data/original/companies.csv")

<h3>Looking at just one article</h3>

In [6]:
subset = df.iloc[10:20][['company_codes', 'body']]

In [12]:
type(subset)

pandas.core.frame.DataFrame

<h3>Creating a dataframe that will have two columns, one for the tokens and one for the NER id</h3>

In [74]:
df2 = pd.DataFrame()

In [75]:
string = example
model = ner_model([string])

In [77]:
token = []

In [212]:
model

In [78]:
for value in model:
    token.append(value)

In [80]:
token

In [82]:
token[0][0]

In [218]:
token[1][0][0]

'O'

In [84]:
for value in token[0][0]:
    print(value)

In [181]:
token[0][0]

['Bob', 'Ross', 'lived', 'in', 'Florida']

In [85]:
tokens = []
ids = []
count = 0
[tokens.append(value) for value in token[0][0]]
[ids.append(value2) for value2 in token[1][0]]
tokens

['From',
 '2009',
 'through',
 '2015',
 ',',
 'for',
 'example',
 ',',
 'J',
 '&',
 'J',
 'commercialized',
 'seven',
 'treatments',
 'that',
 'topped',
 '$',
 '1',
 'billion',
 'in',
 'annual',
 'sales',
 '.',
 'Among',
 'the',
 "company's",
 'recent',
 'wins',
 'are',
 'cancer',
 'treatments',
 'Imbruvica',
 'and',
 'Darzalex',
 '.']

In [86]:
df2['Tokens'] = tokens
df2['NER_id'] = ids

In [87]:
df2

            Tokens      NER_id
0             From           O
1             2009      B-DATE
2          through      I-DATE
3             2015      I-DATE
4                ,           O
5              for           O
6          example           O
7                ,           O
8                J       B-ORG
9                &       I-ORG
10               J       I-ORG
11  commercialized           O
12           seven  B-CARDINAL
13      treatments           O
14            that           O
15          topped           O
16               $     B-MONEY
17               1     I-MONEY
18         billion     I-MONEY
19              in           O
20          annual      B-DATE
21           sales           O
22               .           O
23           Among           O
24             the           O
25       company's           O
26          recent           O
27            wins           O
28             are           O
29          cancer           O
30      treatments           O
31       Imbruvica   B-PRODUCT
32             and           O
33        Darzalex   B-PRODUCT
34               .           O

In [91]:
df2[(df2.NER_id == "B-PRODUCT") | (df2.NER_id == "B-ORG") | (df2.NER_id == "I-ORG")]

       Tokens     NER_id
8           J      B-ORG
9           &      I-ORG
10          J      I-ORG
31  Imbruvica  B-PRODUCT
33   Darzalex  B-PRODUCT

In [225]:
string

'The 10 drugs, which include therapies for cancer, depression and the flu, could be navigating the approval process at an opportune time, with the Trump administration seeking to loosen Food and Drug Administration approval standards for new treatments. All are expected to be submitted for regulatory approval or will hit the market in the next four years.\n\nJ&J pharmaceuticals Chairman Joaquin Duato said the company backs the move to eliminate "unnecessary bureaucracy" at the FDA while preserving a process that validates "safety and efficacy."\n\nJ&J, which conducted some 400 clinical trials with 110,000 patients in 2016, agrees with the administration on the need to "fine-tune and improve access for patients and at the same time how we can improve the regulatory process," Duato said.\n\nWhile growing scrutiny of drug costs may make it harder to raise prices, Duato said, "most of our growth comes from volume."\n\nAmong the new drugs J&J expects to deliver through 2021 are treatments for prostate cancer, acute myeloid leukemia, myelofibrosis and respiratory syncytial virus (RSV) infection.\n\nThe plans for major new treatments would mark an acceleration in new product introduction. From 2009 through 2015, for example, J&J commercialized seven treatments that topped $1 billion in annual sales. Among the company\'s recent wins are cancer treatments Imbruvica and Darzalex.\n\nWilliam Hait, research chief of J&J\'s Janssen Research & Development, said the company would seek to expand applications of more than 50 current product lines.\n\nJ&J also said it expects to close its $30 billion acquisition of Swiss biopharmaceutical giant Actelion by the end of the second quarter, including its coveted treatment for pulmonary arterial hypertension.'

In [72]:
example = subset.iloc[0]['body'][1190:1380]

In [73]:
ner_model([example])

[[['From',
   '2009',
   'through',
   '2015',
   ',',
   'for',
   'example',
   ',',
   'J',
   '&',
   'J',
   'commercialized',
   'seven',
   'treatments',
   'that',
   'topped',
   '$',
   '1',
   'billion',
   'in',
   'annual',
   'sales',
   '.',
   'Among',
   'the',
   "company's",
   'recent',
   'wins',
   'are',
   'cancer',
   'treatments',
   'Imbruvica',
   'and',
   'Darzalex',
   '.']],
 [['O',
   'B-DATE',
   'I-DATE',
   'I-DATE',
   'O',
   'O',
   'O',
   'O',
   'B-ORG',
   'I-ORG',
   'I-ORG',
   'O',
   'B-CARDINAL',
   'O',
   'O',
   'O',
   'B-MONEY',
   'I-MONEY',
   'I-MONEY',
   'O',
   'B-DATE',
   'O',
   'O',
   'O',
   'O',
   'O',
   'O',
   'O',
   'O',
   'O',
   'O',
   'B-PRODUCT',
   'O',
   'B-PRODUCT',
   'O']]]