In [1]:
import numpy as np
import pandas as pd
import string
import re
import nltk
from fuzzywuzzy import process, fuzz
import difflib
from two_lists_similarity import Calculate_Similarity as cs
import fuzzymatcher
from numpy import savetxt
from numpy import save
from numpy import savez_compressed
from numpy import save
from numpy import vstack

### Reading in three data sets

In [63]:
fda=pd.read_csv("../data/working/fda_clean.csv")
ndc=pd.read_csv("../data/working/cleanNDC.csv")
#dna=pd.read_csv("../data/working/dna_clean.csv")

In [57]:
dna.isnull().values.any()

True

In [41]:
dna.isnull().sum()

Unnamed: 0            0
Unnamed: 0.1          0
Code                  0
Description           0
cleaned_companies    51
dtype: int64

In [26]:
fda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 975 entries, 0 to 974
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      975 non-null    int64
 1   FDA Companies   975 non-null    object
 2   Company Clean   973 non-null    object
dtypes: int64(1), object(2)
memory usage: 23.0+ KB

In [27]:
ndc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7026 entries, 0 to 7025
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7026 non-null   int64
 1   original_company  7026 non-null   object
 2   cleaned_name      6725 non-null   object
dtypes: int64(1), object(2)
memory usage: 164.8+ KB

In [58]:
dna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64005 entries, 0 to 64004
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         64005 non-null  int64
 1   Unnamed: 0.1       64005 non-null  int64
 2   Code               64005 non-null  object
 3   Description        64005 non-null  object
 4   cleaned_companies  63954 non-null  object
dtypes: int64(2), object(3)
memory usage: 2.4+ MB

In [64]:
dna=dna.dropna()

In [65]:
dna.isnull().values.any()

False

In [46]:
dna.isnull().sum()

Unnamed: 0           0
Unnamed: 0.1         0
Code                 0
Description          0
cleaned_companies    0
dtype: int64

In [66]:
dna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63954 entries, 0 to 64004
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         63954 non-null  int64
 1   Unnamed: 0.1       63954 non-null  int64
 2   Code               63954 non-null  object
 3   Description        63954 non-null  object
 4   cleaned_companies  63954 non-null  object
dtypes: int64(2), object(3)
memory usage: 2.9+ MB

#### Creating a function to measure fuzz ratio between two data sets

In [6]:
#df1=fda.iloc[:100]
#df2=ndc.iloc[:100]
#df3=dna.iloc[:100]

In [76]:
#Function that creates a matrix of fuzzy scores
#l1 and l2 are the lists
#nrows will be the number of rows you will need in the matrix
#ncols will be the number of columns you will need

#distribution of the matrix
def matrix_score(list1, list2, nrows, ncols):
    #creates a matrix of zeros with the dimensions specified from the parameters
    #So if you had a list that had 5 elements in it, your matrix would be a 5x5 matrix; nrows would be 5 and ncols would be 5
    matrix = np.zeros(shape = (nrows, ncols))
   
    #initialize row and col values to 0
    row = 0
    col = 0
   
    for i in list1:
        if row % (len(list1)//10) == 0:
            print("progress: %.2f" % (100*row/len(list1)) + "%")
        for j in list2:
            score = fuzz.ratio(i,j)
            matrix[row][col] = score
            col+=1
        col = 0
        row+=1
    #savetxt('/sfs/lustre/bahamut/scratch/sr2wm/Git/dspg20BI/data/working/dna_matrix_1c.csv', matrix, delimiter=',')
    save('/sfs/lustre/bahamut/scratch/sr2wm/Git/dspg20BI/data/working/dna_matrix_1b.npy', matrix)
    return matrix

In [75]:
#data1=dna[:10659]
data2=dna[10659:21318]
#data.info()

In [77]:
matrix=matrix_score(data2['cleaned_companies'].tolist(), dna['cleaned_companies'].tolist(), 10659, 63954)

progress: 0.00%
progress: 9.99%
progress: 19.98%
progress: 29.97%
progress: 39.97%
progress: 49.96%
progress: 59.95%
progress: 69.94%
progress: 79.93%
progress: 89.92%
progress: 99.92%

In [78]:
d1=np.load('../data/working/dna_matrix_1b.npy')

In [80]:
d=np.load('../data/working/dna_matrix_1a.npy')

In [91]:
dna_matrix=vstack([d,d1])

In [88]:
dna_matrix

array([[100.,  21.,  11., ...,   4.,   5.,  13.],
       [ 21., 100.,  32., ...,  26.,  30.,  27.],
       [ 11.,  32., 100., ...,  34.,  32.,  33.],
       ...,
       [ 25.,  32.,  26., ...,  21.,  32.,  38.],
       [ 13.,  40.,  26., ...,  21.,  29.,  39.],
       [ 11.,  24.,  29., ...,  23.,  27.,  36.]])

In [89]:
d1

array([[20., 34., 31., ..., 23., 19., 26.],
       [22., 42., 29., ..., 27., 23., 32.],
       [44., 33., 25., ..., 16., 14., 23.],
       ...,
       [25., 32., 26., ..., 21., 32., 38.],
       [13., 40., 26., ..., 21., 29., 39.],
       [11., 24., 29., ..., 23., 27., 36.]])

In [90]:
d

array([[100.,  21.,  11., ...,   4.,   5.,  13.],
       [ 21., 100.,  32., ...,  26.,  30.,  27.],
       [ 11.,  32., 100., ...,  34.,  32.,  33.],
       ...,
       [ 17.,  31.,  36., ...,  27.,  21.,  28.],
       [  0.,  19.,  11., ...,  12.,  10.,  12.],
       [ 10.,  39.,  31., ...,  25.,  33.,  34.]])

In [93]:
save('/sfs/lustre/bahamut/scratch/sr2wm/Git/dspg20BI/data/working/dna_matrix_1.npy', dna_matrix)

In [3]:
data_matrix=np.load('../data/working/dna_matrix_1.npy')

In [4]:
data_matrix

array([[100.,  21.,  11., ...,   4.,   5.,  13.],
       [ 21., 100.,  32., ...,  26.,  30.,  27.],
       [ 11.,  32., 100., ...,  34.,  32.,  33.],
       ...,
       [ 25.,  32.,  26., ...,  21.,  32.,  38.],
       [ 13.,  40.,  26., ...,  21.,  29.,  39.],
       [ 11.,  24.,  29., ...,  23.,  27.,  36.]])

In [10]:
#This function takes the matrix and list of cleaned company names as arguments and returns a dataframe representing the martrix passed
def convertMatrixToDf(matrix, ls):
    #In order for the code to work, the matrix passed must first be converted from float to int
    matrix = matrix.astype(int)
    #Then the matrix needs to be converted to str
    matrix = matrix.astype(str)
    cleaned_matrix = [[int(item.split()[0]) for item in row] for row in matrix]
    matrix_scores = pd.DataFrame(cleaned_matrix, columns = ls)
    #Since there are no company name rows, this function makes them
    matrix_scores['companies'] = ls
   
    #returns the matrix as a dataframe, with type int
    return matrix_scores.astype(int)

In [11]:
ls=data['cleaned_companies'].tolist()

In [ ]:
df=convertMatrixToDf(matrix, ls)
df.to_csv(r'/sfs/lustre/bahamut/scratch/sr2wm/Git/dspg20BI/data/working/dna_matrix_1a.csv')

In [7]:
dna_data_1b=pd.read_csv("../data/working/dna_matrix_1b.csv")
dna_data_1b.head()

,1.200000000000000000e+01,2.900000000000000000e+01,3.400000000000000000e+01,3.200000000000000000e+01,1.900000000000000000e+01,2.900000000000000000e+01.1,3.500000000000000000e+01,3.500000000000000000e+01.1,3.400000000000000000e+01.1,3.100000000000000000e+01,...,4.100000000000000000e+01.291,3.600000000000000000e+01.1365,1.700000000000000000e+01.1494,3.000000000000000000e+01.3676,2.900000000000000000e+01.4190,8.400000000000000000e+01.1,6.600000000000000000e+01.1,3.200000000000000000e+01.2414,4.200000000000000000e+01.193,3.100000000000000000e+01.3062
0,0.0,43.0,18.0,27.0,18.0,22.0,26.0,38.0,23.0,32.0,...,36.0,34.0,25.0,31.0,43.0,26.0,27.0,22.0,26.0,26.0
1,0.0,28.0,18.0,39.0,17.0,22.0,19.0,19.0,31.0,27.0,...,22.0,19.0,12.0,30.0,28.0,29.0,36.0,18.0,25.0,30.0
2,0.0,22.0,19.0,21.0,29.0,29.0,20.0,20.0,23.0,23.0,...,23.0,25.0,40.0,24.0,22.0,22.0,23.0,22.0,22.0,32.0
3,17.0,41.0,29.0,39.0,30.0,34.0,38.0,45.0,36.0,40.0,...,33.0,31.0,22.0,38.0,31.0,34.0,36.0,27.0,28.0,36.0
4,8.0,31.0,25.0,29.0,18.0,30.0,38.0,42.0,25.0,25.0,...,36.0,31.0,30.0,27.0,31.0,38.0,33.0,33.0,38.0,36.0

In [ ]:
col_name= []
for row in dna_data.itertuples():
    for col in row:
        if row[col]== 100:
        col_name.append(col.name)

In [ ]:
def matchWithFuzzyNames(list1, list2, original):
    match = pd.DataFrame(columns = ['original company names', 'clean company name', 'company matches', 'fuzz ratio'])
    for i in list1:
        matches = []
        score = []
        score_partial = []
        for j in list2:
            if (fuzz.ratio(i,j)) == 100:
                matches.append(j)
                score.append(fuzz.ratio(i,j))
                score_partial.append((fuzz.partial_ratio(i,j)))
        match = match.append({ 'clean company name': i,'company matches': matches, 'fuzz ratio': score, 'fuzz partial ratio': score_partial},ignore_index=True)
        
    match['original company names'] = original
        


    return match

In [ ]:
#matching=match.head(len(match))
matching=match.head(500)

##### Specify the col name for each dataset

In [ ]:
matchWithFuzzyNames(fda, ndc, fda.col_name)

In [ ]:
ndc_matching['clean_company_name'.value_counts()